body {
    text-align: center;
    background-color: #47b;
}

#lista-prodotti {
    position: absolute;
    width: 100%;
}

.header {
    position: relative;
    top: 0px;
    margin: 0px;
    padding: 7px;
    width: 100%;
    height: 52px;
    background-color: #69D;
    color: #DFF;
}

.prodotto {
    position: relative;
    left: 20%;
    width: 55%;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: #9AF;
}

#container {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

.marca-prodotto {
    position: relative;
    top: -10px;
}

.navigatore {
    position: relative;
    top: -20px;
    width: 88%;
    left: 8%;
}

.modello-prodotto {
    position: relative;
    top: -20px;
}

.ng-invalid.ng-pristine {
    border-color: #f7f7f7;
    border-radius: 5px;
}

.ng-valid.ng-pristine {
    border-color: #f7f7f7;
    border-radius: 5px;
}

.ng-invalid.ng-dirty {
    border-color: red;
    border-radius: 5px;
}

.ng-valid.ng-dirty {
    border-color: lightgreen;
    border-radius: 5px;
}
