<section>
    <ul class="nav nav-pills">
        <li ng-class="{ active : navigatore.isSelected(1) }">
            <a href ng-click="navigatore.selectTab(1)">
                Descrizione
            </a>
        </li>
        <li ng-class="{ active : navigatore.isSelected(2) }">
            <a href ng-click="navigatore.selectTab(2)">
                Colore
            </a>
        </li>
        <li ng-class="{ active : navigatore.isSelected(3) }">
            <a href ng-click="navigatore.selectTab(3)">
                Prezzo
            </a>
        </li>
        <li ng-class="{ active : navigatore.isSelected(4) }">
            <a href ng-click="navigatore.selectTab(4)">
                Recensioni
            </a>
        </li>
    </ul>
</section>
<br/>
