<section>
    <form name="reviewForm" ng-submit="reviewForm.$valid && reviewCtrl.addReview(prodotto,reviewForm)" novalidate>
        <b>Voto: </b>
        <br/>
        <input ng-model="reviewCtrl.review.voto" type="number" max="10" min="0" placeholder="0" required>/10
        <br/>

        <b>Commento:</b>
        <br/>
        <textarea ng-model="reviewCtrl.review.commento" cols="55" rows="5" required>
        </textarea>
        <br/>

        <b>Email:</b>
        <br/>
        <input ng-model="reviewCtrl.review.autore" type="email" placeholder="La tua email" required>
        <br/>
        <br/>
        <input type="submit" value="Invia Recensione">
        <!--<div>ReviewForm is {{reviewForm.$valid}}</div>-->
    </form>
</section>

<section ng-show="reviewCtrl.review.commento">
    <hr/>
    <h4><b>Preview nuovo commento</b></h4>
    <h4>- Voto: {{reviewCtrl.review.voto}} / 10</h4>
    <br/>
    <span>{{reviewCtrl.review.commento}}</span>
    <br/>
    <br/>
    <cite>{{reviewCtrl.review.autore}}</cite>
</section>
